.form-inline-header .control-label {width: auto; padding-right: 10px;}
.form-inline-header .control-group, .form-inline-header .control-label, .form-inline-header .controls {display: inline-block;}
.form-inline-header .controls {padding-right: 20px;}